* {
font-family: 'Fira Sans', sans-serif;
background-color: #F0ECEE
}

button {
  background: #FF3850;
  color: white;
  border-radius: 15px;
  padding: 10px;
}

button: hover {
  background-color: #CCC;
}

h1 {
  font-weight: 600;
}

h2 {
  color: black;
}

h3 {
  font-weight: 400;
  color: #88898B;
  text-align: right;
}

h4 {
  color: #88898B;
  font-weight: 300;
}


}



}
